<% if current_user %>
  <div class="col s12 card-panel teal lighten-5">
    <%= render 'posts/new' %>
  </div>
<% end %>

<div class="col s12 card-panel teal lighten-5">
  <%= render 'posts/list', locals: { posts: @posts } %>
</div>