<ul class="collection">
  <% users.each do |user| %>
    <li class="collection-item avatar card-users-list-profile">
      <%= image_tag user_avatar_img(user), class: 'circle responsive-img' %>
      <span class="title"><%= user.name %></span><br>
      <%= link_to_user user, class: 'grey-text' %>
    </li>
  <% end %>

  <% if users.empty? %>
    <li class="collection-item">
      <span class="title">Não foi encontrado ninguém de acordo com sua busca</span>
    </li>
  <% end %>
</ul>